.git/
.gradle/
.metadata/
.idea/
.settings/
classes/
build/
out/
mydb/
derby.log
*.class
*.lock
*.iml
*.log
mydb/
Edges.csv
Nodes.csv
gradle/
gradlew
gradlew.bat
*.log
*.project
.project
*.flac


/bin/
